<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/caiofabiogomes/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="userGit" />
      <add key="ClearTextPassword" value="tokenGit" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
